.right-block__gallery {
    position: relative;
    width: 395px;
    height: 290px;
    background: url('../../assets/images/__brazil-forest/__gallery/main.png') no-repeat;
    background-size: 100%;
    background-position: center center;
    border-radius: 30px;
    margin-top: 58px;
   /* padding: 29px 35px; */
}

.gallery-like {
    position: absolute;
    right: 27px;
    top: 20px;
    padding: 13px;
    background: rgba(255, 255, 255, 0.6);
   /* mask-image: url(../../assets/icons/likes/like.svg); */
    backdrop-filter: blur(25px);
    border-radius: 50%;
    transition: background-color .2s;
}

.gallery-list {
    position: absolute;
    bottom: 29px;
    left: 34px;
    display: flex;
    gap: 12px;
   /* margin-top: 161px; */
    padding: 12px 17px;
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(2.5px);
    border-radius: 15px;
}

