.orders-description {
    margin-top: 39px;
    margin-bottom: 61px;
}

.orders-description-title {
    font-size: 30px;
    letter-spacing: 0.4px;
    margin-bottom: 14px;
}

.orders-description-text {
    line-height: 20.9px;
}

.orders-book-travel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
}

.price-number {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8px;
}

.book-travel-button button {
    font-size: 18px;
    padding: 17px 40px;
    padding-bottom: 16px;
    letter-spacing: 0.5px;
    background: #18333E;
    border-radius: 30.5px;
    border: 0;
    color: #FFFFFF;
    transition: color .2s, background .2s;
    cursor: pointer;
}   

.book-travel-button button:hover {
    color: #18333E;
    background: #F9D44A;
}

.orders-places,
.orders-place,
.orders-place-info {
    display: flex;
}

.orders-places {
    flex-direction: column;
    gap: 40px;
} 

.orders-place {
    justify-content: space-between;
}

.orders-place,
.orders-place-info {
    align-items: center;
}

.orders-place-info {
    justify-content: flex-start;
    gap: 18px;
}

.place-info-img img {
    border-radius: 23px;
}

.place-info-title-text {
    font-size: 22px;
    margin-bottom: 14px;
}

.info-title-location-icon {
    width: 19px;
    vertical-align: middle;
    margin-right: 4px;
}

.orders-place-like-icon {
    padding: 17px;
    background: #E9F1FA;
    backdrop-filter: blur(2px);
    border-radius: 50%;
    margin-bottom: 3px;
}