.dates {
    margin-top: 60px;
}

.dates-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dates-header__title {
    font-size: 30px;
    letter-spacing: 0.5px;
}

.dates-header__date {
    letter-spacing: 0.1px;
    margin-top: 4px;
    padding: 15px 30px;
    border: 1px solid #B4BCC4;
    border-radius: 24px;
}

.list-of-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 43px 0;
}

.list-of-dates__date {
    text-align: center;
    padding: 22px 21px;
    padding-bottom: 26px;
    background: #ffffff;
    border-radius: 32px;
    cursor: pointer;
    transition: background .2s;
}

.list-of-dates__date:hover {
    background: #18333E;
}

.list-of-dates__date:hover .date-item {
    color: #ffffff;
}

.list-of-dates__date:hover .stick {
    visibility: visible;
}

.date-day {
    color: #18333E;
    opacity: 0.7;
}

.date-number {
    font-size: 25px;
}

.active-date {
    background: #18333E;
}

.active-date .date-item {
    color: #ffffff;
}

.stick {
    visibility: hidden;
    width: 5px;
    height: 8px;
    margin: 7px auto;
    background: #F9D44A;
    border-radius: 13.5px;
}

.active-date .stick {
    visibility: visible;
}

/*.list-of-dates .list-of-dates__date:first-child {
    padding-left: 0;
}

.list-of-dates .list-of-dates__date:last-child {
    padding-right: 0;
}*/

.list-of-dates .list-of-dates__date:first-child:hover {
    padding-left: 21px;
}