.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 45px;
}

.player {
    max-width: 411px;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px;
    padding-bottom: 18px;
    background-color: #18333E;
    border-radius: 25px;
}

.gallery {
    flex: 1;
}

/* style .player */
.player__img img {
    border-radius: 10px;
}

.player__text {
    margin-left: 29px;
    margin-right: 88px;
}

.player__text-title {
    font-size: 18px;
    margin-bottom: 12px;
    color: #ffffff;
    letter-spacing: 0.2px;
}

.player__text-stars-img {
    margin-right: 4px;
    vertical-align: middle;
}

.player__text-stars-number {
    font-size: 14px;
    color: #ffffff;
}

.player__play {
    position: relative;
    width: 27px;
    height: 49px;
    background: #F9D44A;
    border-radius: 13.5px;
    transition: background .2s;
    cursor: pointer;
}

.player__play:hover {
    background: #ffffff;
}

.player__play::before,
.player__play::after {
    content: '';
    position: absolute;
    top: calc(50% - 7px);
    width: 1px;
    height: 13px;
    background: #000000;
    border-radius: 2px;
}

.player__play::before {
    right: 10px;
}

.player__play::after {
    left: 10px;
}

/* styles gallery */
.gallery img {
    border-radius: 25px;
}

.gallery img:first-child {
    margin-right: 40px;
}
