@font-face {
    font-family: 'Baloo2-Bold';
    src: url('../assets/fonts/baloo2/Baloo2-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Baloo2-ExtraBold';
    src: url('../assets/fonts/baloo2/Baloo2-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('../assets/fonts/baloo2/Baloo2-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('../assets/fonts/baloo2/Baloo2-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Baloo2-SemiBold';
    src: url('../assets/fonts/baloo2/Baloo2-SemiBold.ttf') format('ttf');
}