* {
    font-size: 100%;
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    border: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
	box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 51px;
    color: #18333E;
}


