* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #18333E;
}


