.search__input {
    position: relative;
    width: 668px;
    min-width: 200px;
    margin-right: 62px;
} 

.search__input input {
    width: 90%;
    font-size: 16px;
    line-height: 26px;
    padding: 14px;
    padding-left: 55px;
    background-image: url('../../../assets/icons/header/search/search.svg');
    background-repeat: no-repeat;
    background-position: 18px 50%;
    background-color: #E9F1FA;
    border: 0;
    border-radius: 26.5px;
}

.search__input input:focus {
    outline: 0;
}

.search__input-text {
    position: absolute;
    top: 14px;
    left: 20px;
}

.search__input-text {
    margin-left: 40px;
}
